/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
  margin-top: 36px;
}


#search-input {
  width: 270px;
  height: 35px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 8px;

}

#search-input:hover{
color: #000;
}

.btn-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #808080;
}

.btn-submit:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 1128px;
  margin: auto;

}

.photo-card img {
  width: 360px;
  height: 200px;
  /* object-fit: cover; */
  padding: 0;
}

.photo-card {
  border: 1px solid #808080;

}

.info {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 18px;
height: 40px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.loader {
  display: none;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;

}


.btn-load-more {
  border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      display: block;
      margin: 0 auto;
      margin-top: 32px;
      
}

.btn-load-more:hover{
background: #6c8cff;}

.hidden {
  display: none;
}